/* Write your CSS here */

.app-container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #f8fafc;
  border-radius: 8px;
  width: 60%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
